# .gitignore

# Variáveis de ambiente
.env

# Banco de dados SQLite
# (Opcional, mas recomendado para evitar commit de dados)
alertas.db

#Scripts
Scripts/

#Backup
bkp/


#teste
nano testar_relatorio.py

# Arquivos gerados pelo Python (dependências instaladas)
__pycache__/
*.pyc

# Diretório de ambientes virtuais
venv/
.venv/